body>* {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    display: flex;
    flex-direction: row;
}

header {
    width: 20%;
}

main {
    width: 80%;
}

footer {
    width: 100%;
    background: linear-gradient(45deg, yellow 30%, purple 70%, blue 100%);
    color: red;
    

}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}