body>* {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    display: flex;
    flex-direction: row;
}

header {
    width: 20%;
    margin-right: 5px;
}

main {
    width: 78%;
    margin-left: 5px;
}

footer {
    width: 100%;
    background: linear-gradient(45deg, yellow 30%, purple 70%, blue 100%);
    color: red;    
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.error_msg {
    color: red;
}
.banner {
    height: 70px;
    width: 100%;
    background: linear-gradient(45deg, green 30%, red 70%, orange 100%);  
    font-size: 4em;
}