body>* {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    display: flex;
    flex-direction: row;
}

header {
    width: 20%;
}

main {
    width: 80%;
}

footer {
    width: 100%;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}